.logo {
    width: 119px;
    margin-top: 25px;

    img {
        width: 100%;

    }
}



#up {
    margin-bottom: 25px;

}

a {
    text-decoration: none;
}

ul {

    list-style: none;
}

.navbar {
    font-size: 14px !important;
    margin-top: 25px;
    margin-left: 16px;

    a {
        color: black;
        text-decoration: none;
    }
}

.call-back {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-left: 49px;
    margin-top: 15px;
    font-size: 32px;


    a {
        font-weight: 700;
        margin-right: 8px;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        word-break: break-word;

    }
}

.call-text {
    display: flex;
    flex-direction: column;
    line-height: 0.1;

    span {
        font-size: .65rem;
        margin-top: 10px;

    }
}

.translate {
    display: flex;
    margin-top: 11px;

    a {
        font-weight: 400;
        margin-left: 12px;
        font-size: 15px;
    }
}



#phone-header {
    .box {
        justify-content: space-between;
        display: flex;
        margin-top: 20px;

        i {
            color: black;
            font-size: 20px;
        }

        .left {
            display: flex;

            .phone {
                margin-left: 20px;
            }

        }

        .center {

            .logo {
                width: 100px;
                margin-top: 0;

                .img {
                    width: 100px;
                }
            }

        }



        .right {
            .search {
                margin-right: 20px;

            }
        }
    }
}


#down {
    background-color: #3c3f42;
    height: 64px;

    .left {
        display: flex;

        .menu {
            display: flex;
            align-items: center;

            .icon-button {
                color: white;
                display: flex;
                font-size: 18px;
                background-color: #222020d4;
                height: 64px;
                width: 261px;
                justify-content: center;
                align-items: center;

                .icon-menu {
                    font-size: 28px;
                    color: white;
                    margin-right: 14px;

                }

            }

            .icon-search {
                font-size: 22px;
            }

            .search-icon {
                margin-left: 5px;
                border-radius: 10px;
                position: relative;
                border: 3px solid white;
                background-color: white;

                .search {
                    width: 500px;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    outline: none;


                }

                button {
                    border: none;
                    background-color: white;
                    height: 40px;
                }

            }
        }

    }


    .login-account {
        display: flex;

        .icon-account {
            display: flex;

            margin-top: 15px;

            a {
                .iconuser {
                    font-size: 27px;
                }

                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;

                span {
                    margin-left: 8px;
                }
            }

            .iconlibra {
                font-size: 22px;
                margin-left: 18px;
            }

            .iconheart {
                font-size: 22px;
                margin-left: 18px;
            }

            .iconshop {
                font-size: 22px;
                margin-left: 18px;
            }

        }
    }

}

.main-right {
    img {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 100%;

    }
}


.slider-menu {

    ul {
        margin-top: 13px;
        padding-left: 15px;

        li {


            // &:nth-child(1){
            //     background-color: rgb(226, 211, 211);
            // }

            a {
                font-size: 14px;
                color: #3C3F42;
                display: flex;
                justify-content: space-between;
                transition: all 0.5s;

                &:hover {
                    color: red;
                }


                i {
                    font-size: 16px;

                    &:nth-child(3) {
                        margin-left: 45px;
                        font-size: 10px;
                        text-align: end;
                    }


                }

                span {
                    flex: auto;

                }

                .span1 {
                    color: #ec2127;
                }

                img {
                    margin-bottom: 5px;
                    width: 20px;
                    height: 20px;
                }

            }

        }

    }
}

#main-bar-down {
    gap: 5px;

    .delivery {
        width: 108%;

        border: none;
        border-radius: 5px;
        position: relative;
        display: block;
        background-color: #d8d8ddbf;

        width: 100%;
        height: 100%;

        h2 {
            color: black;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 15px;
            padding-top: 15px;
        }

        p {
            margin-left: 15px;
            color: black;
            font-size: 13px;
            width: 200px;

        }

        img {
            position: absolute;
            width: 80px;
            right: 0;
            bottom: 0;

        }
    }

}





#main-second {

    .card-1 {
        margin-top: 50px;

        .firts-card-text {

            display: flex;
            gap: 10px;

            h2 {
                font-weight: bold;
                font-size: 20px;
            }

            span {
                font-weight: 400;
                font-size: 13px;
                color: #3C3F42;
            }

            i {
                font-size: 12px;
                color: #3C3F42;
            }
        }

        .up {

            display: flex;
            gap: 6px;
            flex-wrap: wrap;
            font-size: 11px;
            line-height: 110%;
            letter-spacing: .05em;
            text-transform: uppercase;

            .p-one {
                background-color: #0bbd0b;
                width: 75px;
                text-align: center;
                color: white;
                font-weight: 700;
            }

            .p-two {
                background-color: rgb(140, 98, 161);
                width: 75px;
                text-align: center;
                color: white;
                font-weight: 700;
                margin-bottom: auto;
            }

            .p-three {
                margin-bottom: auto;


                font-weight: 600;
                line-height: 180%;
                background-color: rgba(37, 174, 96, 0.1);
                color: rgb(37, 174, 96);
                width: 209px;
                text-align: center;
                height: 22px;
            }

            .p-four {
                margin-bottom: 0;

                font-weight: 600;
                line-height: 180%;
                background-color: rgb(23, 104, 201);
                color: white;
                width: 96px;
                text-align: center;
                height: 19px;
            }
        }


        .firstcard {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .text-star {

                .p-five {
                    text-align: center;
                    margin-right: 4px;
                    margin-bottom: 0;
                    font-weight: 600;

                }

                .star {
                    color: gray;
                    font-size: 14px;
                    margin-left: 18px;

                    span {
                        color: gray;
                        font-size: 12px;
                        margin-left: 12px;
                    }
                }

                .price {
                    margin-top: 50px;
                    margin-left: 18px;
                    font-weight: bold;
                    font-size: 30px;
                }
            }

            .card-down {
                color: red;

                a {
                    color: #53595c;
                }



            }

            .shop-car {
                box-shadow: 0 2px 8px rgb(8 8 8 / 36%);

                color: red;
                justify-content: center;

                display: flex;
                width: 48px;
                bottom: 75px;
                left: 80%;
                position: relative;

                font-size: 25px;
                height: 48px;
                background-color: #f3f3f3;
                align-items: center;
                border-radius: 50%;


                a {
                    :hover {
                        background-color: red;
                    }
                }
            }

            ul {

                margin-right: 15px;
                display: flex;
                justify-content: flex-end;
                margin-top: 17px;
                font-size: 25px;
                gap: 15px;

                a {
                    color: #4244466e;

                    :hover {
                        color: red;
                    }
                }
            }
        }

        img {
            margin-top: 54px;
            padding: 35px;

        }
    }


    .card-2 {
        margin-top: 80px;

        .img-card-two {
            margin-top: 38%;
        }

        .img-card-three {
            margin-top: 39.5%;
        }

        .img-card-four {
            margin-top: 47%;
        }

        .p-five-edit {
            text-align: center;
            font-size: 13px;
            font-weight: 600;
        }
    }
}

#maxi-news {

    .news-banner {

        .discount-card {

            .card-body {

                .card-title {
                    color: #ec2127;
                    font-size: 40px;
                    font-weight: 900;
                    font-family: system-ui;


                }

                span {
                    color: #0c61d5;
                    font-size: 40px;
                    font-weight: 900;
                    font-family: system-ui;
                }

                img {
                    max-width: 114px;
                    position: absolute;
                    /* width: 90px; */
                    /* height: 61px; */
                    left: 88%;
                }

                .nav-base {

                    gap: 12px;

                    .nav-active {
                        color: red;
                    }

                    .nav-item {
                        font-size: 12px;
                        border-radius: 20px;
                        text-transform: uppercase;
                        background-color: #eaf0f8;
                        line-height: 140%;

                        a {
                            color: black;
                        }
                    }
                }

            }

            .card-header {
                padding: 50px 50px 20px;
                height: 350px;
                background-color: #ffa319;
                display: flex;

                .parametr {
                    margin-top: 0;

                    ul {
                        font-size: 15px;

                        list-style: inherit;
                        color: gold;

                        li {
                            color: white;
                        }
                    }

                    .promotion {
                        border-radius: 20px;
                        margin-top: 25px;
                        text-align: center;

                        width: 240px;
                        height: 70px;
                        background-color: #fed237;

                        h6 {
                            padding-top: 12px;
                            font-size: 12px;
                            padding-right: 55px;
                        }

                        h5 {
                            font-size: 26px;
                            padding-right: 22px;
                            line-height: 8px;

                        }

                    }

                }


                .img-phone {
                    display: flex;
                    width: 62%;
                    margin-left: 40px;
                    height: 95%;
                    border-radius: 30px;
                    background-color: white;
                    padding: 15px;


                    img {
                        width: 43%;
                    }

                    .phone-info {

                        a {
                            color: black;
                            font-family: inherit;
                            font-size: 21px;
                            font-weight: 400;
                        }

                        .star-phone {
                            color: #d5cfcfa6;
                            margin-top: 8px;


                            .text-comment {
                                color: #817c7cc2;
                                font-size: 12px;
                                margin-left: 7px;
                            }





                        }

                        .price-phone {

                            color: red;
                            font-size: 35px;
                            font-weight: 700;
                            font-family: sans-serif;

                            i {
                                font-size: 22px;

                            }
                        }


                        .kredit {

                            a {
                                border-style: dotted;
                                border-width: 0 0 2px 0;
                                font-size: 13px;
                                border-color: gray;

                                i {
                                    color: red;
                                }

                                span {
                                    color: gray;
                                }

                            }



                        }

                        .buttons {
                            margin-top: 20px;

                            .order-button {
                                background-color: #ec2127;
                                font-weight: 700;
                                font-size: 14px;
                                width: 105px;
                                height: 40px;
                                color: white;
                            }

                            a {
                                font-size: 14px;
                                border-style: dotted;
                                border-width: 0 0 2px 0;
                                border-color: gray;
                                text-decoration: none;
                                color: gray;
                                margin-left: 12px;
                            }

                        }

                    }
                }

            }

        }

    }

}



#advertising-maxi {

    .advertisements {
        margin-top: 90px;

        .brand {
            border-radius: 50%;
            width: 176px;
            height: 176px;
            background-color: #ededee;

            img {
                margin-top: 68px;
                margin-left: 10px;

            }

            .img-apple {
                margin-left: 24px;
            }

            .img-xiomi {
                margin-left: 64px;
            }

            .img-zimmer {
                width: 91%;

            }
        }

        .brand-text {
            font-size: 14px;
            text-transform: uppercase;
            padding-top: 80px;
            text-align: center;
            border-radius: 50%;
            width: 176px;
            height: 176px;
            background-color: #ededee;

            a {
                font-weight: 500;
                color: black;
            }

        }

    }

}

#maxi-sale {

    .sale-banner {

        .sale {
            margin-top: 35px;
            height: 96%;
            width: 100%;
            background-color: #ededee;
            padding: 45px 30px 0;



            .sale-text {
                font-size: 40px;
                font-weight: 800;
                font-family: revert;

                .first-text {
                    color: red;
                }


            }

            .second-text {
                font-size: 18px;
                margin-top: 12px;
                font-weight: 400;
            }

            .sale-buttton {

                margin-top: 40px;

                button {
                    text-transform: uppercase;

                    font-weight: 700;
                    background: red;
                    width: 165px;
                    height: 50px;
                    border-radius: 8px;
                }

            }


            .fireman-img {
                margin-top: 287px;


                img {
                    width: 254px;
                }

            }


            .sale-first-card {

                .card-img-top {
                    padding: 14px;

                }



                ul {
                    font-size: 20px;
                    margin-right: 15px;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 17px;
                    gap: 15px;
                }

                .img-icon {
                    margin-top: 15px;
                    gap: 76px;
                    display: flex;

                    a {
                        color: gray;

                        &:hover {
                            color: red;
                        }
                    }

                    img {

                        width: 37px;
                        height: 35px;
                        margin-left: 29px;
                        margin-top: 13px;
                    }
                }

                .up {
                    font-size: 11px;
                    line-height: 110%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    .one-text {
                        display: flex;
                        gap: 5px;

                        .p-one {
                            background-color: #8004b3;
                            width: 100px;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            height: 18px;
                            padding: 3px;

                        }

                        .p-two {
                            background-color: rgb(233 247 239);
                            width: 100px;
                            text-align: center;

                            font-weight: 700;
                            padding: 3px;
                            height: 18px;
                            color: rgb(37 174 96);
                        }
                    }

                    .two-text {
                        display: flex;
                        gap: 5px;


                        .p-three {
                            background-color: rgb(251, 197, 97);
                            width: 75px;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            height: 18px;
                            padding: 3px;
                        }

                        .p-four {
                            background-color: rgb(23, 104, 201);
                            width: 100px;
                            text-align: center;
                            color: white;
                            font-weight: 700;
                            padding: 3px;
                            height: 18px;

                        }
                    }
                }

                .memory {
                    background-color: gray;
                    width: 60px;
                    background: white;
                    border-radius: 14px;
                    font-size: 12px;
                    height: 31px;
                    text-align: center;
                    padding: 9px 0 0 0;
                    border: 1px solid;
                    border-color: red;
                    color: red;
                }

                .color-selection {
                    border: 1px solid red;
                    height: 23px;
                    width: 23px;
                    background: white;
                    border-radius: 62%;
                    margin-top: 2px;

                    .choose {
                        text-align: center;

                        color: gray;
                        width: 15px;
                        height: 15px;
                        background: gray;
                        margin-top: 3px;
                        margin-left: 3px;
                        border-radius: 50%;
                    }
                }

                .phone-name {
                    font-size: 12px;
                    font-family: inherit;
                    font-weight: 500;
                    margin-top: 13px;
                }

                .star {
                    font-size: 14px;
                    color: #80808061;

                    .text-commet {
                        font-size: 11px;
                        font-weight: 600;
                        color: gray;
                    }
                }

                .phone-price {
                    margin-top: 60px;



                    .present {
                        font-size: 40px;
                        font-weight: 600;
                    }

                    i {
                        font-size: 25px;
                        margin-left: 5px;

                    }

                    del {
                        color: gray;
                        margin-left: 11px;
                        font-size: 25px;
                    }

                    .manat-icon {
                        font-size: 13px;
                    }

                    p {
                        font-weight: 600;
                        margin-top: 7px;
                        color: #25ae60;

                    }

                }

                .card-down {


                    .fa-clock {
                        color: red;
                    }

                    a {
                        border-style: dotted;
                        border-width: 0 0 2px 0;
                        font-weight: 500;
                        color: gray;
                        font-size: 13px;
                    }

                }

                .shop-car {
                    box-shadow: 0 2px 8px rgb(8 8 8 / 36%);
                    color: red;
                    justify-content: center;
                    display: flex;
                    width: 48px;
                    bottom: 40px;
                    left: 75%;
                    position: absolute;
                    font-size: 25px;
                    height: 45px;
                    background-color: #f3f3f3;
                    align-items: center;
                    border-radius: 50%;
                }





            }

            .img-phone-2 {
                width: 150px;
                height: 261px;
                margin-left: 55px;
            }

            .img-phone-3 {
                width: 185px;
                height: 261px;
                margin-left: 55px;
            }

            .choose-two {
                text-align: center;

                color: rgb(14, 6, 131);
                width: 15px;
                height: 15px;
                background: rgb(14, 0, 136);
                margin-top: 3px;
                margin-left: 3px;
                border-radius: 50%;
            }

            .choose-three {
                text-align: center;

                color: #481d6f;
                width: 15px;
                height: 15px;
                background: #481d6f;
                margin-top: 3px;
                margin-left: 3px;
                border-radius: 50%;

            }


        }




    }

}



#goods-slider {


    .slider-title-text {
        margin-top: 65px;

        h3 {
            font-size: 24px;
            font-weight: 800;
        }
    }

    .first-card {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        .card-img-top {
            padding: 40px;

        }



        ul {
            font-size: 20px;
            margin-right: 15px;
            display: flex;
            justify-content: flex-end;
            margin-top: 17px;
            gap: 15px;
        }

        .img-icon {
            margin-top: 15px;
            gap: 76px;
            display: flex;

            a {
                color: gray;

                &:hover {
                    color: red;
                }
            }

            img {

                width: 37px;
                height: 35px;
                margin-left: 29px;
                margin-top: 13px;
            }
        }

        .up {
            font-size: 11px;
            line-height: 110%;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            .one-text {
                display: flex;
                gap: 5px;

                .p-one {
                    background-color: rgb(253, 106, 0);
                    width: 100px;
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    height: 18px;
                    padding: 3px;

                }

                .p-two {
                    background-color: rgb(140, 98, 161);
                    width: 100px;
                    text-align: center;

                    font-weight: 700;
                    padding: 3px;
                    height: 18px;
                    color: white
                }

                .p-two-clone {

                    background-color: rgb(233 247 239);
                    width: 114px;
                    text-align: center;
                    font-weight: 700;
                    padding: 3px;
                    height: 18px;
                    color: rgb(37 174 96);

                }
            }

            .two-text {
                display: flex;
                gap: 5px;
                margin-top: -10px;


                .p-three {
                    background-color: rgb(251, 197, 97);
                    width: 75px;
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    height: 18px;
                    padding: 3px;
                }

                .p-four {
                    background-color: rgb(23, 104, 201);
                    width: 100px;
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    padding: 3px;
                    height: 18px;

                }
            }
        }



        .color-selection {


            background: white;
            border-radius: 62%;
            margin-top: 2px;
            display: flex;

            .choose1 {
                text-align: center;

                color: black;
                width: 15px;
                height: 15px;
                background: black;
                margin-top: 3px;
                margin-left: 3px;
                border-radius: 50%;
            }

            .color-selection-basically {
                border: 1px solid red;
                height: 23px;
                width: 23px;
                background: white;
                border-radius: 62%;
                margin-top: -1px;
                margin-left: 2px;

            }



            .choose2 {
                text-align: center;


                color: gray;
                width: 15px;
                height: 15px;
                background: gold;
                margin-top: 3px;
                margin-left: 3px;
                border-radius: 50%;

            }

            .choose3 {
                text-align: center;

                color: gray;
                width: 15px;
                height: 15px;
                background: #481c71;
                margin-top: 3px;
                margin-left: 3px;
                border-radius: 50%;
            }
        }

        .phone-name {
            font-size: 12px;
            font-family: inherit;
            font-weight: 500;
            margin-top: 13px;
        }

        .star {


            font-size: 14px;
            color: #80808061;

            .checked {
                color: orange;

            }

            .text-commet {
                font-size: 11px;
                font-weight: 600;
                color: gray;
            }
        }

        .phone-price {
            margin-top: 60px;



            .present {
                font-size: 40px;
                font-weight: 600;
            }

            i {
                font-size: 25px;
                margin-left: 5px;

            }

            del {
                color: gray;
                margin-left: 11px;
                font-size: 25px;
            }

            .manat-icon {
                font-size: 13px;
            }

            p {
                font-weight: 600;
                margin-top: 7px;
                color: #25ae60;

            }

        }

        .card-down {


            .fa-clock {
                color: red;
            }

            a {
                border-style: dotted;
                border-width: 0 0 2px 0;
                font-weight: 500;
                color: gray;
                font-size: 13px;
            }

        }

        .shop-car {
            box-shadow: 0 2px 8px rgb(8 8 8 / 36%);
            color: red;
            justify-content: center;
            display: flex;
            width: 48px;
            bottom: 40px;
            left: 75%;
            position: absolute;
            font-size: 25px;
            height: 45px;
            background-color: #f3f3f3;
            align-items: center;
            border-radius: 50%;
        }



    }

}


#blog {

    .blog-text {
        margin-top: 75px;
        display: flex;
        gap: 25px;

        span {
            margin-top: 10px;
        }

    }

    .card {
        width: 23rem;
        margin-top: 30px;

        .card-header {
            border-bottom: none;
            display: flex;
            justify-content: space-between;

            .span-text {
                font-weight: 400;
                height: 19px;
                text-align: center;
                width: 85px;
                background-color: #fbe69b;
                font-size: 12px;
            }

            .span-text-second{
                color: gray;
                font-size: 13px;
            }



        }

        .card-title{
            font-weight: 800;
        }


    }


}


