.logo {
    width: 119px;
    margin-top: 25px;

    img {
        width: 100%;

    }
}



#up {
    margin-bottom: 25px;

}

a {
    text-decoration: none;
}

ul {

    list-style: none;
}

.navbar {
    font-size: 14px !important;
    margin-top: 25px;
    margin-left: 16px;

    a {
        color: black;
        text-decoration: none;
    }
}

.call-back {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-left: 49px;
    margin-top: 15px;
    font-size: 32px;


    a {
        font-weight: 700;
        margin-right: 8px;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        word-break: break-word;

    }
}

.call-text {
    display: flex;
    flex-direction: column;
    line-height: 0.1;

    span {
        font-size: .75rem;
        margin-top: 10px;

    }
}

.translate {
    display: flex;
    margin-top: 11px;

    a {
        font-weight: 400;
        margin-left: 12px;
        font-size: 15px;
    }
}



#phone-header {
    .box {
        justify-content: space-between;
        display: flex;
        margin-top: 20px;

        i {
            color: black;
            font-size: 20px;
        }

        .left {
            display: flex;

            .phone {
                margin-left: 20px;
            }

        }

        .center {

            .logo {
                width: 100px;
                margin-top: 0;

                .img {
                    width: 100px;
                }
            }

        }



        .right {
            .search {
                margin-right: 20px;

            }
        }
    }
}


#down {
    background-color: #3c3f42;
    height: 64px;

    .left {
        display: flex;

        .menu {
            display: flex;
            align-items: center;

            .icon-button {
                color: white;
                display: flex;
                font-size: 18px;
                background-color: #222020d4;
                height: 64px;
                width: 261px;
                justify-content: center;
                align-items: center;

                .icon-menu {
                    font-size: 28px;
                    color: white;
                    margin-right: 14px;

                }

            }

            .icon-search {
                font-size: 22px;
            }

            .search-icon {
                margin-left: 5px;
                border-radius: 10px;
                position: relative;
                border: 3px solid white;
                background-color: white;

                .search {
                    width: 500px;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    outline: none;


                }

                button {
                    border: none;
                    background-color: white;
                    height: 40px;
                }

            }
        }

    }


    .login-account {
        display: flex;

        .icon-account {
            display: flex;

            margin-top: 15px;

            a {
                .iconuser {
                    font-size: 27px;
                }

                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;

                span {
                    margin-left: 8px;
                }
            }

            .iconlibra {
                font-size: 22px;
                margin-left: 18px;
            }

            .iconheart {
                font-size: 22px;
                margin-left: 18px;
            }

            .iconshop {
                font-size: 22px;
                margin-left: 18px;
            }

        }
    }

}

.main-right {
    img {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 100%;

    }
}


.slider-menu {

    ul {
        margin-top: 13px;
        padding-left: 15px;

        li {


            // &:nth-child(1){
            //     background-color: rgb(226, 211, 211);
            // }

            a {
                font-size: 14px;
                color: #3C3F42;
                display: flex;
                justify-content: space-between;
                transition: all 0.5s;

                &:hover {
                    color: red;
                }


                i {
                    font-size: 16px;

                    &:nth-child(3) {
                        margin-left: 45px;
                        font-size: 10px;
                        text-align: end;
                    }


                }

                span {
                    flex: auto;

                }

                .span1 {
                    color: #ec2127;
                }

                img {
                    margin-bottom: 5px;
                    width: 20px;
                    height: 20px;
                }

            }

        }

    }
}

#main-bar-down {
    gap: 5px;

    .delivery {
        width: 108%;

        border: none;
        border-radius: 5px;
        position: relative;
        display: block;
        background-color: #d8d8ddbf;

        width: 100%;
        height: 100%;

        h2 {
            color: black;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 15px;
            padding-top: 15px;
        }

        p {
            margin-left: 15px;
            color: black;
            font-size: 13px;
            width: 200px;

        }

        img {
            position: absolute;
            width: 80px;
            right: 0;
            bottom: 0;

        }
    }

}





#main-second {

    .card-1 {
        margin-top: 50px;

        .firts-card-text {

            display: flex;
            gap: 10px;

            h2 {
                font-weight: bold;
                font-size: 20px;
            }

            span {
                font-weight: 400;
                font-size: 13px;
                color: #3C3F42;
            }

            i {
                font-size: 12px;
                color: #3C3F42;
            }
        }

        .up {

            display: flex;
            gap: 6px;
            flex-wrap: wrap;
            font-size: 11px;
            line-height: 110%;
            letter-spacing: .05em;
            text-transform: uppercase;

            .p-one {
                background-color: #0bbd0b;
                width: 75px;
                text-align: center;
                color: white;
                font-weight: 700;
            }

            .p-two {
                background-color: rgb(140, 98, 161);
                width: 75px;
                text-align: center;
                color: white;
                font-weight: 700;
                margin-bottom: auto;
            }

            .p-three {
                margin-bottom: auto;


                font-weight: 600;
                line-height: 180%;
                background-color: rgba(37, 174, 96, 0.1);
                color: rgb(37, 174, 96);
                width: 209px;
                text-align: center;
                height: 22px;
            }

            .p-four {
                margin-bottom: 0;

                font-weight: 600;
                line-height: 180%;
                background-color: rgb(23, 104, 201);
                color: white;
                width: 96px;
                text-align: center;
                height: 19px;
            }
        }


        .firstcard{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .text-star {

                .p-five {
                    text-align: center;
                    margin-right: 4px;
                    margin-bottom: 0;
                    font-weight: 600;

                }

                .star {
                    color: gray;
                    font-size: 14px;
                    margin-left: 18px;

                    span {
                        color: gray;
                        font-size: 12px;
                        margin-left: 12px;
                    }
                }

                .price {
                    margin-top: 50px;
                    margin-left: 18px;
                    font-weight: bold;
                    font-size: 30px;
                }
            }

            .card-down {
                color: red;

                a {
                    color: #53595c;
                }



            }

            .shop-car {
                box-shadow: 0 2px 8px rgb(8 8 8 / 36%);

                color: red;
                justify-content: center;
                
                display: flex;
                width: 48px;
                bottom: 75px;
                left: 80%;
                position: relative;
                
                font-size: 25px;
                height: 48px;
                background-color: #f3f3f3;
                align-items: center;
                border-radius: 50%;
                

                a{
                    :hover{
                        background-color: red;
                    }
                }
            }

            ul {
                
                margin-right: 15px;
                display: flex;
                justify-content: flex-end;
                margin-top: 17px;
                font-size: 25px;
                gap: 15px;

                a{
                    color: #4244466e;

                    :hover{
                        color: red;
                    }
                }
            }
        }

        img {
            margin-top: 54px;
            padding: 35px;

        }
    }


    .card-2 {
        margin-top: 80px;

        .img-card-two {
            margin-top: 38%;
        }

        .img-card-three {
            margin-top: 39.5%;
        }

        .img-card-four {
            margin-top: 47%;
        }

        .p-five-edit {
            text-align: center;
            font-size: 13px;
            font-weight: 600;
        }
    }


}